*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    border-radius: 10px;

}
body{
    background-color: rgb(42, 41, 41);
}
.block_formulaire{
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 
}

.block_formulaire h1{
    color: white;
}
form input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: transparent;
    border-color: white;
    padding-left: 15px;
    color: white;
}

p{
    color: white;
}

p a{
    color: rgb(12, 222, 250);
}
form button{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 49%;
    background-color:transparent;
    color: white;
    border-radius: 10px;
    border-color: white;
    padding: 10px;
}

span{
    text-align: left;
    color: white;
}